

.productMain{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.product-img{
    
}

.product-properties{
    
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 1.5rem;
    }
}