
/* It's taking all the styles of the Login.css screen and we just change some things to trasnform into SignUp screen*/
#signup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    /* background: url('../../../public//assets//Login/background-movil-signup.png'); */
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .logo{
        display: none;
        cursor: pointer;
    }
}

.titleSign{
    text-align: center;
    margin: 0;
    .newA{
        font-size: 4rem;
    }
    #signin{
        display: block;
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
        margin: 1rem;
    }
}
.forms{
    input{
        background-color: rgb(255, 255, 255);
    }
}

#buttonsSign{
    .btn{
        background-color: black;
        border: none;
    }
    #signupBtn{
        color: white;
    }
}


@media(min-width: 1024px){
    #signup{
        .logo{
            width: 50rem;
            display: block;
        }
    }
    .titleSign{
        .newA{
            font-size: 3rem;
        }
    }
    .forms{
        padding: 0 3rem;
        input{
            background-color: rgb(255, 255, 255);
            
        }
    }
    #buttonsSign{
        display: flex;
        justify-content: center;
        align-items: center;
        #signupBtn{
            color: rgb(255, 255, 255);
            background-color: rgb(0, 0, 0);
        }
    }
}