
/* It's taking all the styles of the Login.css screen and we just change some things to trasnform into SignUp screen*/


.titleSign{
    text-align: center;
    margin: 0;
    .newA{
        font-size: 4rem;
    }
    #signin{
        display: block;
        color: white;
        font-size: 1.2rem;
        margin: 1rem;
    }
}
.forms{
    input{
        background-color: rgba(163, 212, 214, 1);
    }
}

#buttonsSign{
    .btn{
        background-color: black;
        border: none;
    }
    #signup{
        color: white;
    }
}



@media(min-width: 1024px){
    .titleSign{
        .newA{
            font-size: 3rem;
        }
    }
    .forms{
        padding: 0 3rem;
        input{
            background-color: black;
            
        }
    }
    #buttonsSign{
        display: flex;
        justify-content: center;
        align-items: center;
        #signup{
            color: black;
            background-color: white;
        }
    }
}