
#mainContent{
    background: url('../../../public/assets/Login/background-movil-signup.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    position: relative;
}
/* Galery College */
.collage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
}

.collage {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "calzado calzado deportes "
        "mujer jerseys accesorios "
        "niños niños hombre";
    grid-gap: 1rem;

    .square {
        background-color: #181818;
        color: white;
        padding: 1rem;
        border-radius: 1rem;
        text-decoration: none;
        h1{
            font-size: 1.5rem;
        }
        .img-collage{
            width: 100%;
            height: auto;
        }
    }

    .calzado {
        grid-area: calzado;
    }
    .deportes {
        grid-area: deportes;
    }
    .jerseys {
        grid-area: jerseys;
    }
    .accesorios {
        grid-area: accesorios;
    }
    .niños {
        display: flex;
        align-items: center;
        justify-content:flex-start;
        grid-area: niños;
        h1{
            font-size: 2rem;
        }
        .childs{
            width: 50%;
            height: auto;
            margin: 1rem;
        }
    }
    .hombres {
        grid-area: hombre;
    }
    .mujeres {
        grid-area: mujer;
    }
}
/* Chats Icon */
.container-Icons{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 6rem;
    height: auto;
    margin: 2rem;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}
.chats-icon{
    width: inherit;
    height: auto;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px){
    .collage-container{
        padding: 2rem 10rem;
    }
}

@media(min-width: 1024px){
    .collage-container{
        padding: 5rem 20rem;
    }
}

/* CSS para el indicador de carga */
.loading-indicator {
    display: inline-block; /* Muestra el indicador en línea con otros elementos */
    margin-left: 10px; /* Espacio entre el botón y el indicador de carga */
    color: transparent; /* Hace que el texto sea invisible */
    background-color: #f0f0f0; /* Color de fondo para el indicador de carga */
    width: 1.5rem; /* Tamaño del indicador de carga */
    height: 1.5rem; /* Tamaño del indicador de carga */
    border: 2px solid #333; /* Borde del indicador de carga */
    border-radius: 50%; /* Hace el indicador de carga redondo */
    border-top: 2px solid #f0f0f0; /* Color de la parte superior del borde para crear el efecto de carga */
    animation: spin 1s linear infinite; /* Animación de rotación */
}

/* Animación de rotación */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}