*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.title-slider{
    font-size: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
}
.main-all{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slider-container{
    width: 100%;
    height: auto;
    padding: 3.5rem;
    object-fit: contain;
    overflow: visible;
}
.img-contain{
    width: 15rem;
    height: 17rem;
    background-color: #eaeeef;
    cursor: pointer;
    border: 10px solid white;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.img-contain:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
    z-index: 10;
}

@media (min-width: 768px){
    .title-slider{
        font-size: 3rem;
    }
    .img-contain{
        width: 20rem;
        height: 22rem;
    }
}

/* Estilos personalizados para las flechas del carrusel de slick */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 2rem; /* Aumentar el tamaño para mayor visibilidad */
    height: 2rem; /* Aumentar el tamaño para mayor visibilidad */
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro opaco */
    border-radius: 50%;
    z-index: 10;
}

/* Personalización de las flechas */
.slick-prev::before,
.slick-next::before {
    font-size: 2rem; /* Tamaño del icono de la flecha */
    color: rgb(150, 150, 150); /* Color de la flecha */
}

.slick-prev {
    left: -3rem; /* Ajustar la posición según sea necesario */
}

.slick-next {
    right: -3rem; /* Ajustar la posición según sea necesario */
}
